venv/
__pycache__/
*.pyc
.git/
.gitignore
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/pairs
data/processed/pairs/*
!data/processed/pairs/.gitkeep
.ipynb_checkpoints/
.env
.pytest_cache/
README.md